* {
    margin: 0.1%;
    padding: 0.1%;
}
body{
    background-color: #fcfcfc;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 95px;
    align-items: center;
    box-shadow: 5px 5px 10px gray;
}

.nome_loja {
    color: white;
    text-transform: uppercase;
}

.menu {
display: flex;
list-style: none;
margin-top: 11px;
}

a{
text-decoration: none;
}

.menu_link{
margin-right: 35px;
color: white;
text-transform: uppercase;
}

